/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.docker/volume
.docker-volumes/
.docker/DS_Store
_ide_helper.php
.gitignore
storage/debugbar/
public/vendor/telescope/
.php-cs-fixer.cache
coverage/dashboard.html
coverage/index.html
coverage/Core/dashboard.html
coverage/Core/index.html
coverage/Core/Domain/AbstractValidable.php.html
coverage/Core/Domain/AbstractValueObjectValidable.php.html
coverage/Core/Domain/dashboard.html
coverage/Core/Domain/index.html
coverage/Core/Domain/Contracts/dashboard.html
coverage/Core/Domain/Contracts/IdGenerator.php.html
coverage/Core/Domain/Contracts/index.html
coverage/Core/Domain/Contracts/Validable.php.html
coverage/Core/Domain/Contracts/ValueObject.php.html
coverage/Core/Domain/Exception/dashboard.html
coverage/Core/Domain/Exception/index.html
coverage/Core/Domain/Exception/ValidationException.php.html
coverage/Core/Domain/Exception/ValidationExceptions.php.html
coverage/Core/Infrastructure/dashboard.html
coverage/Core/Infrastructure/index.html
coverage/Core/Infrastructure/UuidGenerator.php.html
coverage/Users/dashboard.html
coverage/Users/index.html
coverage/Users/Application/dashboard.html
coverage/Users/Application/index.html
coverage/Users/Application/Commands/dashboard.html
coverage/Users/Application/Commands/index.html
coverage/Users/Application/Commands/RegisterCommand.php.html
coverage/Users/Application/Commands/RegisterHandler.php.html
coverage/Users/Application/Dtos/dashboard.html
coverage/Users/Application/Dtos/FindByEmailDto.php.html
coverage/Users/Application/Dtos/index.html
coverage/Users/Application/Dtos/RegisterDto.php.html
coverage/Users/Application/Events/dashboard.html
coverage/Users/Application/Events/index.html
coverage/Users/Application/Events/UserRegisteredEvent.php.html
coverage/Users/Application/Events/UserRegisteredHandler.php.html
coverage/Users/Application/Factories/dashboard.html
coverage/Users/Application/Factories/index.html
coverage/Users/Application/Factories/UserCommandQueryFactory.php.html
coverage/Users/Application/Factories/UserDtoFactory.php.html
coverage/Users/Application/Queries/dashboard.html
coverage/Users/Application/Queries/FindByEmailHandler.php.html
coverage/Users/Application/Queries/FindByEmailQuery.php.html
coverage/Users/Application/Queries/index.html
coverage/Users/Domain/dashboard.html
coverage/Users/Domain/Email.php.html
coverage/Users/Domain/index.html
coverage/Users/Domain/Password.php.html
coverage/Users/Domain/UserAggregate.php.html
coverage/Users/Domain/Repositories/dashboard.html
coverage/Users/Domain/Repositories/FindByEmailRepository.php.html
coverage/Users/Domain/Repositories/FindByIdRepository.php.html
coverage/Users/Domain/Repositories/index.html
coverage/Users/Domain/Repositories/UpsertRepository.php.html
coverage/Users/Infrastructure/dashboard.html
coverage/Users/Infrastructure/index.html
coverage/Users/Infrastructure/CQRS/dashboard.html
coverage/Users/Infrastructure/CQRS/index.html
coverage/Users/Infrastructure/CQRS/Ecotone/dashboard.html
coverage/Users/Infrastructure/CQRS/Ecotone/FindByEmailQueryHandler.php.html
coverage/Users/Infrastructure/CQRS/Ecotone/index.html
coverage/Users/Infrastructure/CQRS/Ecotone/RegisterCommandHandler.php.html
coverage/Users/Infrastructure/Http/dashboard.html
coverage/Users/Infrastructure/Http/index.html
coverage/Users/Infrastructure/Http/Controllers/dashboard.html
coverage/Users/Infrastructure/Http/Controllers/index.html
coverage/Users/Infrastructure/Http/Controllers/Illuminate/dashboard.html
coverage/Users/Infrastructure/Http/Controllers/Illuminate/FindByEmailController.php.html
coverage/Users/Infrastructure/Http/Controllers/Illuminate/index.html
coverage/Users/Infrastructure/Http/Controllers/Illuminate/RegisterController.php.html
coverage/Users/Infrastructure/Messaging/dashboard.html
coverage/Users/Infrastructure/Messaging/index.html
coverage/Users/Infrastructure/Messaging/Ecotone/Configuration.php.html
coverage/Users/Infrastructure/Messaging/Ecotone/ConsumerConfiguration.php.html
coverage/Users/Infrastructure/Messaging/Ecotone/dashboard.html
coverage/Users/Infrastructure/Messaging/Ecotone/index.html
coverage/Users/Infrastructure/Messaging/Ecotone/JsonToPHPConverter.php.html
coverage/Users/Infrastructure/Messaging/Ecotone/PublisherConfiguration.php.html
coverage/Users/Infrastructure/Messaging/Ecotone/UserRegisteredEventHandler.php.html
coverage/Users/Infrastructure/Providers/dashboard.html
coverage/Users/Infrastructure/Providers/index.html
coverage/Users/Infrastructure/Providers/Illuminate/dashboard.html
coverage/Users/Infrastructure/Providers/Illuminate/index.html
coverage/Users/Infrastructure/Providers/Illuminate/UsersProvider.php.html
coverage/Users/Infrastructure/Repository/dashboard.html
coverage/Users/Infrastructure/Repository/index.html
coverage/Users/Infrastructure/Repository/Memory/dashboard.html
coverage/Users/Infrastructure/Repository/Memory/index.html
coverage/Users/Infrastructure/Repository/Memory/UserRepository.php.html
coverage/Users/Infrastructure/Repository/MongoDB/dashboard.html
coverage/Users/Infrastructure/Repository/MongoDB/index.html
coverage/Users/Infrastructure/Repository/MongoDB/UserRepository.php.html
coverage/Users/Infrastructure/Repository/MongoDB/Models/BaseModel.php.html
coverage/Users/Infrastructure/Repository/MongoDB/Models/dashboard.html
coverage/Users/Infrastructure/Repository/MongoDB/Models/index.html
coverage/Users/Infrastructure/Repository/MongoDB/Models/UserModel.php.html
coverage/_css/bootstrap.min.css
coverage/_css/custom.css
coverage/_css/nv.d3.min.css
coverage/_css/octicons.css
coverage/_css/style.css
coverage/_icons/file-code.svg
coverage/_icons/file-directory.svg
coverage/_js/bootstrap.min.js
coverage/_js/d3.min.js
coverage/_js/file.js
coverage/_js/jquery.min.js
coverage/_js/nv.d3.min.js
coverage/_js/popper.min.js
